<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        HOME SERVER
    </h1>
    <ul class="api-list">
        <a href='/user'>user</a> <hr/>
        <a href='/user/login'>user/login</a> <hr/>
        <a href='user/signup'>user/signup</a> <hr/>
    </ul>
    <style>
        .api-list {
            font-size: 30px;
        }
    </style>
</body>
</html>